@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/stylesheet.css";
@import "custom.css";

/* // Import css files */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
    --primary: #FFCC33;
    --primary1: #000000;
    --primary2: #ffffff;
    --primary3: #E68EAF;
    --primary4: #F076CB;
    --primary5: #F5F6F6;
}

h1, h2, h3, h4, h5, h6, span, a, p, strong, li, ul, div, code {
    @apply font-monumentExtended;
}

.paragraph {
    @apply text-[18px] leading-[19px] xs:text-[14px] xs:leading-[15px]
}

.btn-primary {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[18px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary)] xl:text-[18px] lg:text-[12px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[38px]
}

.binder-btn {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[30px] sm:px-[30px] xs:px-[15px] xl:py-[20px] lg:py-[18px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary2)] xl:text-[18px] lg:text-[12px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[10px]
}

.btn-primary2 {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[18px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary3)] xl:text-[18px] lg:text-[12px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[38px]
}

.btn-primary3 {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[18px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary4)] xl:text-[18px] lg:text-[12px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[38px]
}

.section-btn {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[18px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary2)] xl:text-[18px] lg:text-[12px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[38px]
}

.product-cta-btns .react-reveal {
    @apply w-full
}

.btn-primary4 {
    @apply font-monumentExtended bg-[var(--primary1)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[20px] md:py-[14px] sm:py-[12px] xs:py-[18px] text-[var(--primary)] xl:text-[18px] lg:text-[14px] md:text-[16px] sm:text-[14px] xs:text-[18px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[6px] w-full
}

.btn-primary5 {
    @apply font-monumentExtended bg-[var(--primary2)] xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[20px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary1)] xl:text-[18px] lg:text-[14px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[38px]
}

.btn-primary-outline {
    @apply font-monumentExtended bg-transparent xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[20px] md:py-[14px] sm:py-[12px] xs:py-[18px] text-[var(--primary1)] border-black border-2 xl:text-[18px] lg:text-[14px] md:text-[16px] sm:text-[14px] xs:text-[18px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[6px] w-full
}

.binder-btn-outline {
    @apply font-monumentExtended bg-transparent xl:px-[60px] lg:px-[45px] md:px-[45px] sm:px-[30px] xs:px-[25px] xl:py-[20px] lg:py-[20px] md:py-[14px] sm:py-[12px] xs:py-[10px] text-[var(--primary1)] border-black border-2 xl:text-[18px] lg:text-[14px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[22px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] rounded-[10px]
}

.section-padding {
    @apply py-[80px] xs:py-[30px];
}

.section-title {
    @apply font-monumentExtended xl:text-[60px] lg:text-[52px] md:text-[44px] sm:text-[26px] xs:text-[20px] text-[var(--primary1)] xl:leading-[76px] lg:leading-[66px] md:leading-[52px] sm:leading-[42px] xs:leading-[30px];
}

.app-wrapper {
    @apply mt-[70px];
}

.anchor {
    @apply font-monumentExtended font-[400] uppercase xl:text-[24px] text-[16px] leading-[19px] text-[var(--primary1)] relative;
}

.text {
    @apply font-monumentExtended font-[400] xl:text-[18px] lg:text-[16px] md:text-[16px] sm:text-[14px] xs:text-[12px] xl:leading-[24px] lg:leading-[22px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] text-[var(--primary1)] relative;
}

.nav-list-item {
    @apply relative flex items-center justify-center z-10 px-6 md:px-[10px] overflow-hidden xs:py-[15px];
}

.nav-list-item:hover .anchor-nav, .nav-list-item.active .anchor-nav {
    color: var(--primary2);
    transition: all 0.5s ease-in;
}

.anchor-nav {
    @apply font-monumentExtendedLight font-[100] xl:text-[16px] lg:text-[12px] md:text-[14px] sm:text-[14px] xs:text-[12px] xl:leading-[20px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] text-[var(--primary1)] relative h-full flex items-center capitalize;
}

header .anchor-nav {
    @apply font-monumentExtended font-[400] xl:text-[16px] lg:text-[12px] md:text-[12px] sm:text-[14px] xs:text-[12px] xl:leading-[20px] lg:leading-[16px] md:leading-[20px] sm:leading-[18px] xs:leading-[16px] text-[var(--primary1)] relative h-full flex items-center capitalize xs:py-4;
}

.main-logo {
    @apply max-w-[70px];
}

.nav-list-item::before {
    @apply absolute content-[""] top-[-100%] left-0 right-0 w-full h-full bg-[var(--primary1)] text-[var(--primary2)] transition-all duration-300 ease-linear -z-0;
}

.nav-list-item:hover::before {
    @apply absolute content-[""] top-0 left-0 right-0 w-full h-full bg-[var(--primary1)] text-[var(--primary2)] transition-all duration-300 ease-linear -z-0;
}

.nav-list-item.active::before {
    @apply absolute content-[""] top-0 left-0 right-0 w-full h-full bg-[var(--primary1)] text-[var(--primary2)] transition-all duration-300 ease-linear -z-0;
}

.shoppingBag {
    @apply xl:text-[26px] lg:text-[18px] md:text-[20px] sm:text-[18px] xs:text-[16px];
}

.badge-count {
    @apply bg-[var(--primary1)] absolute top-[-3px] right-[-3px] px-1 text-[8px] text-[var(--primary2)] text-center leading-[14px] rounded;
}

.subtitle-bold {
    /* font-family: 'Nostra v1.0 Stream Trial'; */
    @apply font-[200] xl:text-[32px] lg:text-[22px] md:text-[26px] sm:text-[20px] xs:text-[16px] text-[var(--primary1)] xl:leading-[40px] lg:leading-[22px] md:leading-[26px] sm:leading-[20px] xs:leading-[16px]
}

.main-slider-box {
    position: sticky;
    top: 120px;
}

.subtitle-top.subtitle-bold span, .accordion-body {
    @apply font-[100] font-monumentExtendedLight
}

.title-large {
    @apply font-[100] font-monumentExtended xl:text-[100px] lg:text-[70px] md:text-[60px] sm:text-[60px] xs:text-[40px] xl:leading-[100px] lg:leading-[70px] md:leading-[60px] sm:leading-[60px] xs:leading-[40px]
}

.text-small {
    @apply font-monumentExtended xl:text-[18px] lg:text-[16px] md:text-[14px] sm:text-[14px] xs:text-[12px] text-[var(--primary1)] xl:leading-[24px] lg:leading-[24px] md:leading-[18px] sm:leading-[16px] xs:leading-[18px]
}

.section-subtitle {
    @apply font-monumentExtended xl:text-[18px] lg:text-[18px] md:text-[16px] sm:text-[14px] xs:text-[12px] text-center text-[var(--primary1)] xl:leading-[24px] lg:leading-[24px] md:leading-[18px] sm:leading-[16px] xs:leading-[18px]
}

.text-medium {
    @apply font-monumentExtended xl:text-[24px] font-[700] lg:text-[22px] md:text-[18px] sm:text-[16px] xs:text-[14px] text-[var(--primary1)] xl:leading-[46px] lg:leading-[34px] md:leading-[18px] sm:leading-[16px] xs:leading-[18px]
}

.text-large {
    @apply font-monumentExtended xl:text-[36px] lg:text-[30px] md:text-[34px] sm:text-[26px] xs:text-[20px] text-[var(--primary1)] xl:leading-[46px] lg:leading-[42px] md:leading-[44px] sm:leading-[32px] xs:leading-[24px]
}

.product-title {
    @apply font-monumentExtended xl:text-[60px] lg:text-[50px] md:text-[40px] sm:text-[30px] xs:text-[24px] xl:leading-[60px] lg:leading-[50px] md:leading-[40px] sm:leading-[30px] xs:leading-[24px] text-[var(--primary1)];
}

.title-large {
    display: block;
    animation: show 0.01s forwards, pop-word 1.5s forwards;
    animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
    opacity: 0;
    transform: rotateX(120deg);
    transform-origin: 50% 100%;
}

.title-medium {
    @apply font-[400] font-monumentExtended xl:text-[68px] lg:text-[60px] md:text-[45px] sm:text-[30px] xs:text-[30px] text-left xl:leading-[66px] lg:leading-[70px] md:leading-[55px] sm:leading-[40px] xs:leading-[40px]
}

.title-products-section {
    @apply font-[400] font-monumentExtended xl:text-[65px] lg:text-[60px] md:text-[45px] sm:text-[30px] xs:text-[30px] text-left xl:leading-[82px] lg:leading-[70px] md:leading-[55px] sm:leading-[40px] xs:leading-[40px]
}

.title-large:nth-of-type(2) {
    animation-delay: 1.5s;
}

.select-field, .input-field {
    @apply w-full border-2 border-primary1 py-3 px-5 text-lg rounded-md placeholder:text-[var(--primary1)];
}

@keyframes pop-word {
    to {
        transform: rotateX(0);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

.homeStorySection {
    @apply min-h-fit bg-[url("../assets/images/story-bg-image.png")] bg-no-repeat bg-center bg-cover
}

.binderCallToActionSection {
    @apply min-h-fit bg-[url("../assets/images/falling-binder-3D-1.png")] bg-no-repeat bg-center bg-cover h-fit
}

.slick-slide img {
    object-fit: cover !important;
    position: relative;
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    font-size: 36px;
    line-height: 40px;
    opacity: 1;
    color: #0F274B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    z-index: 211;
    font-weight: 900;
    display: none !important;
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-prev:focus,
.slick-slider .slick-next:hover,
.slick-slider .slick-next:focus {
    background: transparent !important;
}

.slick-prev,
.slick-next {
    width: 50px !important;
    height: 50px !important;
    background: transparent !important;
    display: flex !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.slick-prev {
    left: 0 !important;
}

.slick-next {
    right: 0 !important;
}

.mobile-nav {
    transition: all 0.3s linear;
    @apply top-[-300px]
}

.mobile-nav.show {
    @apply top-[70px]
}

.image-box {
    display: flex !important;
}

.color-switch [type='radio']:checked {
    background-image: none;
}

/* Product Colors */
.orange, .orange:checked, .orange:focus {
    background-color: #D33F21 !important;
    border-color: #000 !important;
}

.orange.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.dark-gunmetal, .dark-gunmetal:checked, .dark-gunmetal:focus {
    background-color: #151B33 !important;
    border-color: #000 !important;
}

.dark-gunmetal.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.dark-cornflower-blue, .dark-cornflower-blue:checked, .dark-cornflower-blue:focus {
    background-color: #20417B !important;
    border-color: #000 !important;
}

.dark-cornflower-blue.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.eerie-black, .eerie-black:checked, .eerie-black:focus {
    background-color: #17191B !important;
    border-color: #000 !important;
}

.eerie-black.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.boysenberry, .boysenberry:checked, .boysenberry:focus {
    background-color: #892866 !important;
    border-color: #000 !important;
}

.boysenberry.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.kombu-green, .kombu-green:checked, .kombu-green:focus {
    background-color: #384033 !important;
    border-color: #000 !important;
}

.kombu-green.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.light-silver, .light-silver:checked, .light-silver:focus {
    background-color: #D7D8D9 !important;
    border-color: #000 !important;
}

.light-silver.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

.granite-gray, .granite-gray:checked, .granite-gray:focus {
    background-color: #626467 !important;
    border-color: #000 !important;
}

.granite-gray.checked {
    outline: 2px solid var(--primary1);
    outline-offset: 2px;
}

/* accordion style */
.accordion-item {
    @apply mb-2;
}

.accordion-content {
    @apply transition-all duration-300 ease-linear h-[0px] opacity-0;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.accordion-content.show {
    @apply xl:h-[180px] lg:h-[160px] md:h-[120px] sm:h-auto xs:h-auto opacity-100;
}

.story-title {
    @apply text-white xl:text-[53px] lg:text-[53px] md:text-[44px] sm:text-[36px] xs:text-[28px] xl:leading-[66px] lg:leading-[66px] md:leading-[54px] sm:leading-[46px] xs:leading-[38px] font-[400] text-center
}

.page-content a {
    @apply underline text-[var(--primary)];
}

.page-content p {
    @apply mb-2;
}

.checkbox-chest {
    @apply p-4 xs:p-1 xs:text-[12px] rounded-full flex items-center justify-center border-2 border-black transition-all ease-in-out duration-700;
}

.checkbox-chest.active {
    @apply bg-black text-white;
}

.cart-modal {
    z-index: 9999;
    @apply min-w-[300px] max-w-full bg-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.binder-journey-box {
    @apply transition-all ease-in-out duration-700;
}

.binder-journey-box.active {
    @apply bg-black text-white;
}

.overlay {
    @apply fixed left-0 right-0 top-0 bottom-0 w-full h-full bg-slate-900 z-[999] hidden;
}

.size-finder-modal {
    @apply fixed left-0 right-0 top-0 bottom-0 w-full h-full z-[999] hidden;
}

.size-finder-modal-active .overlay {
    @apply block;
}

.size-finder-modal-active .size-finder-modal {
    @apply flex h-[70%] w-[60%] xs:w-[94%] xs:h-[50%];
}

.size-finder-modal-active {
    @apply overflow-hidden;
}

.modal {
    @apply w-full sm:h-auto xs:h-auto;
}

.lightFont, .lightFont span {
    @apply font-monumentExtendedLight font-[100];
}

#size-finder .modal-body {
    @apply overflow-auto h-full flex justify-center items-center xs:items-start
}

.previousBtn {
    @apply bg-slate-200 text-black;
}

.cart-info-text {
    @apply flex justify-between gap-2 py-2 text-[12px];
}

.cart-section.cart-info-text {
    @apply flex justify-between gap-2 py-2 text-[16px];
}

.image-carousel-secondary .slick-track {
    @apply flex flex-wrap !w-[400px];
}

.image-carousel-secondary .slick-track .slick-slide {
    @apply  !w-[200px] !h-[240px];
}

.image-carousel-secondary .slick-track .slick-slide img {
    @apply h-full w-full border !object-contain;
}

.image-carousel-secondary .slick-track .slick-slide div:first-child {
    @apply w-full h-full;
}

.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

